body{
    background-color: #8A39E1;
}
#page{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
}
.page-title{
    text-align: center;
}
.page-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}
.card{
    height: 100px;
    width: 100px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    flex: 0 0 100px;
    margin: 10px;
    background-color: blue;
}